body {
    background: rgb(112, 112, 245);
    font: normal Arial 18pt;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 80px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
    
}
select#flista{
    width: 150px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}
